
# DJANGO BASE SETTING
ALLOWED_HOSTS = ["localhost"]

SECRET_KEY = "32_symbols_secret_key"


#DB 
DB_NAME = "ukrkolo-db"
DB_USER = "admin"
DB_PASSWORD = "admin_psw"
DB_HOST = "localhost" #or db
DB_PORT = 5432


#-------------API---------------

#GEO API
GEO_API_URL   = "url_for_geo_api"
GEO_API_TOKEN = "token_for_geo_api"