
# DJANGO BASE SETTING
ALLOWED_HOSTS = localhost,127.0.0.1

DEBUG= #bool

SECRET_KEY = "32_symbols_secret_key"
BASE_URL = "example.com"

CSRF_TRUSTED_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"

SIMPLE_JWT_SIGNING_KEY="fdgsdgsdfgsdfgsdfg"

PORT= #for django dev server in docker

GUNICORN_WORKERS=3 #(2 × core_amount_cpu) + 1
CELERY_CONCURRENCY=2

USE_HTTPS= #bool

#DB 
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432

#-------------CACHE---------------
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=6379

#-------------API---------------

#LOGGING

#CENTRY
SENTRY_DSN=