
# DJANGO BASE SETTING
ALLOWED_HOSTS = ["localhost"]

SECRET_KEY = "32_symbols_secret_key"
BASE_URL = "example.com"

CSRF_TRUSTED_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"

#DB 
DB_NAME = "ukrkolo-db"
DB_USER = "admin"
DB_PASSWORD = "admin_psw"
DB_HOST = "localhost" #or db
DB_PORT = 5432


#-------------API---------------

#GEO API
GEO_API_URL   = "url_for_geo_api"
GEO_API_TOKEN = "token_for_geo_api"